.cta-column {
  padding: 0;
  min-height: 600px;
  height:25vh;
  position: relative;
  .cta-background {
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;

    > div {
      position: relative;
      width: 100%;
      height: 100%;
    }

    a {
      position: absolute;
      bottom: 25px;
      left: 36%;
      right: 36%;
      font-weight: bold;
      height: 60px;
      max-width: 200px;
      border: 1px solid white;
      background-color: $purple;
      text-align: center;
      color: white;
      padding-top: 15px;
      border-radius: 6px;
    }
  }
}

.main-content {
  position: relative;
  background-color: $white;
  height: auto;
  font-size: 18px;
  margin-top: 3rem;

  & > img {
    z-index:1;
    float: left;
    display: block;
    position: absolute;
    top: 0px;
    width: auto;
    height: 100%;
    margin-left: -150px;
  }

  h1 {
    font-size: 42px;
    text-align: start;
    margin: 10px 0px 20px 0px;
  }

  p {
    padding-left: 0;
  }

  .small-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:  wrap;
    &__image{
      flex: 0 0 100%;
      @include media-breakpoint-up('sm') {
        flex-basis: 40%;
      }
      @include media-breakpoint-up('lg') {
        flex-basis: 33.333%;
      }

      text-align: center;
      img {
        max-width: 250px;
        max-height: 120px;
        height: auto;
        width:auto;
      }
    }
  }
}


@media (max-width: 1900px) {
  .cta-column {
    .cta-background {
      background-size: cover;
      background-position: 20% 0%;
    }
  }
}

@media (max-width: 2200px) {
  .cta-column {
    .cta-background {
      background-size: cover;
      background-position: 20% 0%;
    }
  }
}

@media (max-width: 2200px) {
  .cta-column {
    .cta-background {
      background-size: cover;
      background-position: 30% 0%;
    }
  }
}

@media (max-width: 1600px) {
  .cta-column {
    .cta-background {
      background-size: cover;
      background-position: 40% 0%;
    }
  }
  .main-content {
    h1 {
      font-size: 3rem;
      padding: 10px 0px;
    }
  }
}

@media (max-width: 1450px) {
  .cta-column {
    .cta-background {
      background-position: 30% 0%;
    }
  }

  .main-content {
    font-size: 16px;

    .main-content-container {
      h1 {
        font-size: 34px;
      }
    }

  }
}

@media (max-width: 1201px) {
  .cta-column {
    height: 350px;
    min-height:350px;
    .cta-background {
      background-position: 0% 30%;
    }
  }
  p {
    padding-left: 10px;
  }
}

@media (max-width: 992px) {
  .main-content {
    height: auto;
    .main-content-container {
      float: none;
      position: relative;
    }
    .small-images {
      position: relative;
      > div {
        margin-top: 40px;
      }
    }
  }
}
