#site-header {
  .logo{
    img{
      display: block;
      height: auto;
      max-width: 200px;
      max-height: 48px;
      width: 100%;
    }
  }
  .navbar-nav{
    li{
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9rem;
        border-bottom: 3px solid transparent;
        line-height: 1;
        padding-bottom: 1rem;
        padding-top: 1rem;
        &:hover{
          border-bottom-color: #01a090;
        }
        &.dropdown-toggle{
          &:after{
            margin-left: 0.5rem;
          }
        }
      }
    }
    .dropdown-menu{
      padding: 0;
      li{
        a{
          border-bottom: none;
          border-left: 3px solid transparent;
          &:hover{
            border-color: #01a090;
          }
        }
      }
    }
  }

}

.mob-menu-logo-holder {
  display: none;
}

@media (max-width: 1200px) {
  header {
    .header-main-content ul li {
      padding-left: 15px;
    }
  }
}


.navbar-light {
  .navbar-nav{
    .nav-link{
      color: $black;
    }
  }
}