.events-column {
  color: black;
  padding: 0px 20px;
  background-size: cover;
  min-height: 100%;
  overflow-y: auto;

  h2 {
    color: $black;
    text-align: start;
    margin-top: 10px;
    padding-top:10px;
  }

  a {
    text-decoration: none;
    font-style: normal;
    color: black;
  }

  .event {
    display: flex;
    flex-flow: column;
    min-height: 80px;
    height: auto;
    box-shadow: $box-shadow-medium;
    background-color: white;
    border-radius: 6px;
    margin: 25px 0px;
    overflow: hidden;

    .event-color {
      width: 10px;
      overflow: hidden;
      height: 100%;
      position: absolute;
    }
    .event-content-wrap {
      display:flex;
      flex-flow: row;

      img {
        max-width: max-content;
      }

      .event-content {
        width: 100%;

        .event-text {
          width: auto;
        }

        .event-schedule {
          font-size: 1.333rem;
          font-weight: bold;
          .start-date {
            &::before {
              display: inline-block;
              content: "";
              background: url('./src/scss/icons/calendar-clear-outline.svg');
              height: 1.333rem;
              width: 1.333rem;
            }
          }
          .duration {
            &::before {
              display: inline-block;
              content: "";
              background: url('./src/scss/icons/time-outline.svg');
              height: 1.333rem;
              width: 1.333rem;
            }
          }
        }

        .event-category {
          position: absolute;
          top: 1rem;
          right: 1rem;
          background-color: $opal;
          display: inline-block;
          padding: 0.5rem;
        }

        p {
          margin-bottom: 0px;
        }

      .event-icon {
        width: 30px;
        margin: 5px 10px 0px 0px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

  }
}

.events-column {
  .page-template-one-column-template,
  .page-template-two-column-template {
    background-color: white;

    h2 {
      color: $cyan;
    }

    .event {
      border: 3px solid $cyan;
      position: relative;
    }
  }

  .event {
    position: relative;

    .popuptext {
      display: none;
    }

    &.popup-hover:hover .popuptext {
      z-index: 99;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        text-align: center;
        padding-top: 7%;
    }
  }
}

.home {
  .events-column {
    background-color: $cyan;

    h2 {
      color: white;
    }

    .event {
      border: 1px solid $cyan;
    }

    .event-color {
      border-right: 1px solid gray;
    }
  }
}
}