.container {
  position: relative;
}

.anchor-tag {
  position: absolute;
  top: -80px;
}

/* Image + text box */

.rounded-corners {
  border-radius: 2rem;
}

.lift-100-wide {
  h3 {
    font-weight: 700;
  }

  ul {
    list-style: none;
  }

  li {
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    h3 {
      font-weight: 500;
    }

    .lift-100-wide__card {
      padding: 1.5rem;
    }
  }

  @media screen and (min-width: 992px) {
    position: relative;

    &__card {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      min-height: 250px;
    }

    &--left {
        .lift-100-wide__card {
          margin-left: 50%;
        }

        .non-overlaid {
          .lift-100-wide__bg-img {
            max-width: calc(100% / 1.5 - 2em);
          }
  
          .lift-100-wide__card {
  
          
            margin-left: calc(100% / 1.5);
      
          }
        }
    }

    &--right {
      .overlaid {
        .lift-100-wide__bg-img {
          margin-left: calc(100% / 3);
        }
      }

      .non-overlaid {
        .lift-100-wide__bg-img {
          margin-left: calc(100% / 3 + 2em);
          max-width: calc(100% / 1.5 - 2em);
        }

        // .lift-100-wide__card {

        //   &.rounded-corners {
        //     border-radius: 2rem 0 0 2rem;
        //   }
        // }
      }
    }
  }

  .arrow {
    color: $black !important;
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;

    &:hover,
    &:focus {
      color: #308176 !important;
      text-decoration: underline;
    }
  }
}

.lift-100-wide .clipped {
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

/* Anchorlink navigation */
.anchorlink-container {
  margin-bottom: 3rem;

  .anchorlink-navigation {
    margin: 0 auto;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 10px 0;
    }

    a {
      display: block;
      position: relative;
      color: #212529;
      text-decoration: none;
      font-weight: 500;
      padding: 0.35rem 1rem;

      &:hover,
      &:focus {
        text-decoration: underline;

        .inline-svg {
          svg {
            top: 6px;
            left: 0;
          }
        }
      }
    }

    .inline-svg {
      svg {
        top: 2px;
        transform: rotate(90deg);
        transition: top ease 0.3s;
      }
    }
  }
}

/* Video */
.video-wrapper {
  position: relative;
}

.video-wrapper img {
  max-width: 100%;
  height: auto;
}

.video-wrapper .play-btn {
  position: absolute;
  max-width: 150px;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -50px;
  opacity: 0.5;
}

@media screen and (max-width: 992px) {
  .lift-100-wide {
    img.rounded-corners {
      border-radius: 2rem 2rem 0 0;
    }
    &__card.rounded-corners {
      border-radius: 0 0 2rem 2rem;
    }
  }
}

/* Newsletter */
.newsletter-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* Spacer */
.spacer:after {
  content: "";
}

/* Separator */

.separator {
  border-top: 3px solid $gray;
}

/* Accordion */
.accordion {
  &-item {
    [id="question-"] {
      span::before {
        content: "";
        border-left: 7px solid #f0e856;
      }
    }
    [id="answer-"] {
      background-color: $white;
      border: none;
      background: none;
    }
  }
}

/* Call to action button*/
.flex-cta {
  border-radius: 0.25rem;
}