.btn-sign-up {
  &:hover, &:active {
    color: $opal;
    text-decoration: underline;
  }
}

.btn-sign-in {
  background-color: $opal;
  &:hover, &:active {
    background-color: $opal-dark;
  }
}

.btn-logout {
  background-color: $red;

  &:hover, &:active {
    background-color: $red-dark;
  }

  .icon-logout {
    transform: rotate(180deg);
  }
}