.spouse-notice {
  overflow: hidden;
  animation: move 2s;
  background-color: $yellow;
  z-index:-1;
  padding: 10px 0px 0px 10px;

  ul {
    margin-left: 0px;
    padding-left: 0px;
  }

  .spouse-close-notification{
    background-color: #ffffff00 !important;
    border: 0;
    font-size: 1.5rem;
  }
}

li.new-news {
  &.news-visible:after{
    font-family: FontAwesome;
    content: '\f12a';
    font-size: 20px;
    color: red;
    position: absolute;
    top: -5px;

    a,
    p{
      opacity: 1;
      animation: opacity 4s;
    }
  }
}

@keyframes move {
  from{
    transform: translateY(-100%);
    opacity: 0;
    z-index:-1;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
