.testimonials {
  .row {
    .card {
      .card-body {
        blockquote {
          .quote-text {
            ::before {
              display: inline-block;
              content: "“";
              color: $opal;
            }

          }
          .footer {
            .author {
              font-size: 1.5rem;
              color: $gray;
            }
          }
        }
        .quote-name {
          color: $gray;
        }
      }
    }
  }
}